{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
        'bundles/irerpuser/css/login.scss'
            filter="cssrewrite,?yui_css" output='css/compiled/login.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block fos_user_content %}
<div class="content login">
    	
    <form action="{{ path("fos_user_security_check") }}" method="post" class="data">

        <h3>{{ 'login.form.title' | trans }} - {{ irerp.customer.companyName }}</h3>
    
        {% if error %}
        <div class="error">{{ 'login.form.error' | trans({}) }}</div><br />
        {% endif %}
    
	<div class="layout">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
	</div>
		
	<div class="layout">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
	</div>
			
        <div class="submit">
            <button type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle')|lower }}</button>
	</div>
	
    </form>
    
</div>
{% endblock fos_user_content %}
